@media screen and (max-width: 500px) {
  body {
    font-size: 67%;
  }

  .hero {
    padding-bottom: 2.5em;
  }
  .hero__img {
    height: 130%;
  }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
  body {
    font-size: 80%;
  }
}
